@import url("https://fonts.googleapis.com/css?family=Baloo+Paaji|Open+Sans:300,300i,400,400i,600,600i,700,700i");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.styles_img {
    width: 100%;
}

.styles_img_hija {
    width: 50%;
    height: auto;
    border-radius: 5%;
}

.parrafo_hija p{
    font-size:18px;
}


.card-title{
    font-weight: 500;
    font-size: 40px;
    font-family: 'Baloo Paaji', cursive;
    color: #695aa6;
    margin: 10px;
    padding: 5px;
}

.secondary_title{
    font-family: 'Baloo Paaji', cursive;
    font-size:15px;
    margin: 5px;
    text-align: left;


}

.style_border1 {
    border-style: solid;
    border-width: 1px;
    color: #655593;
    border-radius: 70px 0px 70px 0px;
    transition: 1s;
    padding: 20px;

}

.container .secondary_title span{
    color: #655593;

}
